@import "../config/fonts.scss";

.welcome {
  height: calc(100vh - 67px);
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  div {
    text-align: center;
    padding: 0 20px;
    max-width: 600px;
    margin-bottom: 100px;
  }
  h1 {
    font-size: $h1-fontSize;
    font-family: $headers-font;
  }
  p {
    font-family: $body-font;
  }
  img {
    max-width: 500px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .welcome {
    div {
      max-width: auto;
    }
  }
}

@media only screen and (max-width: 800px) {
  .welcome {
    height: 100%;
    div {
      grid-row: 2;
      margin: 25px;
    }
    img {
      grid-row: 1;
      margin: 0 auto;
      margin-top: 50px;
      max-width: auto;
      max-height: 140px;
    }
  }
}