<section class="welcome">
  <div>
    <h1>Welcome London Vegan Coders</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed nisi condimentum
      enim elementum finibus ut a elit. Pellentesque dictum molestie nibh a cursus. Ut malesuada
      viverra imperdiet.
    </p>
  </div>
  <%= image_tag "carrots_placeholder.png" %>
</section>