<header>
  <nav>
    <%= link_to "Home", welcome_index_path, class: "button" %>
    <%= link_to "Meet the team", users_path, class: "button" %>
    <%= link_to "Sign up", signup_path, class: "button" %>
  </nav>
</header>
